{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h2 class="mb-3">Profile</h2>
    <form action="/profile/" method="post" novalidate>
        {% csrf_token %}
    
        {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
        {% endfor %}
    
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
    
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}