# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
.pytest_cache/
htmlcov/
.coverage
.coverage.*
.cache
coverage.xml
*.cover

# mypy
.mypy_cache/

# virtualenv
venv/
.venv/

# IDEs
.idea
.code
.vscode

# db
*.sqlite3

# env vars
.env.sh

# local email client dumps
.mailbox
.storage
.ci-mailbox
.ci-storage
