{% extends './base.html' %}

{% block content %}

<div class="container">
    <form class="form-signin w" method="POST">
        {% csrf_token %}
        <img class="mb-4" src="{{logo_url}}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
    </form>
    
    <p class="mt-3">Don't have an account? <a href="/account/signup">Sign Up</a></p>
    <a href="/account/start-reset-password">Forgot your password?</a>

    <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
</div>

{% endblock %}
