{% extends './base.html' %}

{% block content %}

<div class="row justify-content-md-center text-center">
    <div class="col col-sm-5 col-sm-5 col-lg-3">
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <input type="hidden" id="token" name="token" value="{{ token }}">
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
        </form>
    </div>
</div>

{% endblock %}
