{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">Coding Test</h2>

    <div class="jumbotron py-5">
        <h2 class="pb-4">Attention!</h4>

        <p>You're about to start the coding test.</p>
        <p>Once you start it, you'll only have <b>{{ coding_test_duration_hours|floatformat }} hours</b> to complete it.
            You can make as many submissions as you want, and you only need 1 passing submission (at least <b>{{ coding_test_subtype.pass_score|floatformat }}</b> out of <b>{{ coding_test_subtype.max_score|floatformat }}</b> points).
        </p>
        <p>We'll only consider your <b>best</b> submission, not your last one.</p>
        <p>
            Your time will start once you click the button below, and it can't be stopped.
            So make sure you're free for the next {{ coding_test_duration_hours|floatformat }} hours!
        </p>

        <p><h4>
            Please complete the setup from SLU01 before starting the coding test, or you'll be wasting your precious test time!!!
        </h4></p>

        <form method="post" class="pt-4">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Understood & I'm ready!</button>
        </form>
    </div>

</div>

{% endblock %}
