{% extends './base.html' %}

{% block content %}


<div class="container">
    <h2 class="py-5">Coding Test</h2>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="alert alert-secondary" role="alert">
                This test is <strong>{{ status }}</strong>.
            </div>
            {% if submissions_closes_at and status == "ongoing"%}
            <div class="alert alert-warning" role="alert">
                You have until <strong>{{ submissions_closes_at }}</strong> to submit solutions!
            </div>
            {% endif %}
            {% if passed %}
            <div class="alert alert-success" role="alert">
                You have passed with {{ best_score }}/{{ submission_type.max_score }}!
            </div>
            {% endif %}
            {% if failed %}
            <div class="alert alert-danger" role="alert">
                You have failed!
            </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <!-- <div class="col-md-12 text-center card-deck"> -->
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Once you download the coding test for the <strong>first time</strong> you have <strong>two hours</strong> to submit solutions!</p>
                    <a href="/candidate/coding-test/download" class="btn btn-primary btn-lg {% if not download_enabled %} disabled {% endif %}" role="button" aria-pressed="true" target="_blank">Download Test</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <div class="card">
                <div class="card-body">
                    <form action="/candidate/coding-test/upload/" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="file" name="file" id="inputFile" class="form-control" {% if not upload_enabled %} disabled {% endif %} required>
                        <button class="btn btn-lg btn-primary" type="submit" {% if not upload_enabled %} disabled {% endif %}>Upload Solution</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% include "./submissions_table.html" %}

</div>

{% endblock %}
