{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">Contact Us</h2>
    <div class="row justify-content-md">
    <div class="col-md-12 order-md-12 mb-8">
        <p>Have you found a bug? Is something not working?</p>

        <p>Use the form below to get support from us!</p>
        Please <strong>provide as much information as you can</strong> about the problem you're having, so we can fix it ASAP!
        <br>
        <br>
    </div>
    </div>
    <div class="row justify-content-md">
        <div class="col-md-12 order-md-12 mb-8">
            <form method="post">
                {% csrf_token %}
                <textarea class="form-control" id="message" name="message" rows="8" required></textarea>
                <br>
                <button type="submit" class="btn btn-secondary">Send Message</button>
            </form>
        </div>
    </div>

</div>


{% endblock %}