{% extends './base.html' %}

{% block content %}

<div class="container">

    <h1 class="py-5">Hello {% if first_name %}{{ first_name }}{% else %}future data scientist{% endif %}!</h1>

    {% if state.selection_status == selection_status_values.ACCEPTED %}
        <div class="alert alert-success mb-5" role="alert">
            <b>Congratulations!</b> Admissions are now closed and you've been accepted in batch4 of the LDSSA.
        </div>
    {% elif state.selection_status == selection_status_values.REJECTED or state.selection_status == selection_status_values.NOT_SELECTED %}
        <div class="alert alert-danger mb-5" role="alert">
            Admissions are now closed and sadly you've not been accepted in batch4 of the LDSSA. We hope you try again next year!
        </div>
    {% endif %}
    
    <h4 class="pb-3">Welcome to the admissions for the Lisbon Data Science Starters Academy!</h4>
    <p>
        Thank you for your interest in participating in batch4 of the LDSSA.<br>
        Before going anything else, please read all the details about the LDSSA <a href="https://github.com/LDSSA/wiki/wiki/Starters-Academy-(Course)">here</a>, about this admissions process <a href="https://github.com/LDSSA/wiki/wiki/Application-process">here</a>, and keep these main points in mind:
    </p>

    <ul>
        <li class="pb-3">In order to get the most out of the experience, students should spend an average of <b>10h per week</b> (and no less than 5h per week) studying on their own time. The Bootcamp and Hackathons are not included in this time commitment.</li>
        <li class="pb-3">
            <b>The Starters Academy will be remote this year.</b> This means that, until further notice, all events are scheduled to happen remotely.
            In case it becomes safe, we may decide to have the later hackathons in person, but students may still join them remotely.
        </li>
        <li class="pb-3">
            Since our Academy is based in Lisbon, all the Starter's Academy activities will happen during the day, Lisbon time.
            This includes the bootcamp, hackathons, and instructors' availability to answer questions on Slack.
            <b>Students are required to be online during the bootcamp and hackathons.</b>
            For students who are in very different timezones, this probably means that they'll have to join us at unusual hours,
            and that communicating with instructors will feel very async. So please take this in consideration when applying!
        </li>
        <li class="pb-3">
            You can find all the relevant dates for the Starter's Academy on this <a href=https://calendar.google.com/calendar/embed?src=lisbondatascience.org_th6fpmimvqvso12t70cd1gkvq8%40group.calendar.google.com&ctz=Europe%2FLisbon>calendar</a>.
            The bootcamp and first hackathon are mandatory: if you miss them, you're not allowed to join any other activities in the course.
            For all the hackathons, in order to participate, you're required to have a minimum score of 80% on the 3 BLUs of that specialization.
        </li>
        <li class="pb-3">
            At the end of the Starters Academy, we will emit a Data Science Resume that will describe your achievements.
            This resume will list all the Starters Academy's specializations, explain what it means to pass each specialization, and show the grades that you've achieved in each of them.
            If you miss a specialization, you'll score 0 (zero) on that specialization, and this will be shown in your resume.
            You'll only be issued a Data Science Resume in case you miss one or zero specializations.
            The Bootcamp days, Hackathon #1 and the Capstone cannot be missed or delivered late.
            If you can't attend one of the remaining specializations you're allowed to deliver all the evaluation elements for that specialization (BLUs + hackathon) until the end of the following month, and it won't count as a missed specialization for the resume.
        </li>
        <li class="pb-3">
            Everyone is expected to comply with this <a href="https://github.com/LDSSA/wiki/wiki/Code-of-Conduct/aee53baab8ec88d2022f20d4c7c0ccdd61d60c4c">Code of Conduct</a> in all the interactions with the Lisbon Data Science Academy.
            This includes the candidates applying to the Starters Academy.
            During this admissions process, <b>we'll ask you to read and acknowledge this Code of Conduct and you'll only be allowed to continue if you agree with it.</b>
        </li>
    </ul>

    <h4 class="py-2" id="next">Your next steps</h4>
    <div id="accordion" class="mb-5">
        <!-- validate email -->
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-controls="collapseOne" {% if not accordion_enabled_status.confirmed_email %} disabled {% endif %}>
                {% if state.confirmed_email %}
                    <i class="fas fa-check-circle"></i>
                {% else %}
                    <i class="far fa-circle"></i>
                {% endif %}
                Validate email address
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse {% if action_point == 'confirmed_email' %} show {% endif %}" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <p>
                    We've sent an email requesting you to validate your email address.<br>
                    You'll need to validate your email address before going further in this application process.
                </p>
                {% if not state.confirmed_email %}
                <p>
                    If you can't find the email in your inbox, please <strong>check your spam folder</strong> and promotions tab.<br>
                    If it's still not there, please add the email address <b>admissions@lisbondatascience.org</b> to your trusted contacts.
                    Also, be a little patient because the email may take some time to arrive to your inbox!
                </p>
                <p>
                    Still not there? <a href="/account/send-confirmation-email">Resend it</a>.
                </p>
                {% endif %}
            </div>
          </div>
        </div>

        <!-- code of conduct -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-controls="collapseTwo" {% if not accordion_enabled_status.accepted_coc %} disabled {% endif %}>
                {% if state.accepted_coc %}
                    <i class="fas fa-check-circle"></i>
                {% else %}
                    <i class="far fa-circle"></i>
                {% endif %}
                Accept Code of Conduct
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse {% if action_point == 'accepted_coc' %} show {% endif %}" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <p>In order to proceed with your application to the Lisbon Data Science Starters Academy, you need to <b>read and agree with our Code of Conduct</b>.</p>
              <p>Not complying with the Code of Conduct during the Academy will lead to imediate exclusion from the course, without a refund.
              So we want you to be completely familiar with the Code of Conduct, before putting any more time into this application process.</p>
              <p>Read the Code of Conduct <a href="/candidate/code-of-conduct">here</a>.</p>
            </div>
          </div>
        </div>

        <!-- scholarships -->
        <div class="card">
          <div class="card-header" id="headingTwoHalf">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwoHalf" aria-controls="collapseTwoHalf" {% if not accordion_enabled_status.decided_scholarship %} disabled {% endif %}>
                {% if state.decided_scholarship %}
                    <i class="fas fa-check-circle"></i>
                {% else %}
                    <i class="far fa-circle"></i>
                {% endif %}
                Scholarships
              </button>
            </h5>
          </div>
          <div id="collapseTwoHalf" class="collapse {% if action_point == 'decided_scholarship' %} show {% endif %}" aria-labelledby="headingTwoHalf" data-parent="#accordion">
            <div class="card-body">
                {% if not state.decided_scholarship %}
                <p>
                    Read our Scholarships Terms & Conditions carefully and decide whether you want to apply for one <a href="/candidate/scholarship">here</a>.
                </p>
                <p>
                    If you don't want to apply for a scholarship, you'll have to explicitly tell us that.
                    You won't be able to move forwards in your application before this confirmation.
                </p>
                {% else %}
                    {% if state.applying_for_scholarship %}
                        You are applying for a scholarship!
                    {% else %}
                        You not are applying for a scholarship.
                    {% endif %}
                {% endif %}

            </div>
          </div>
        </div>

        <!-- complete profile -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-controls="collapseThree" {% if not accordion_enabled_status.created_profile %} disabled {% endif %}>
                {% if state.created_profile %}
                    <i class="fas fa-check-circle"></i>
                {% else %}
                    <i class="far fa-circle"></i>
                {% endif %}
                Complete your profile
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse {% if action_point == 'created_profile' %} show {% endif %}" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                For this application, we need some information about you, like your name, etc.<p>
                We promise this is the last bureaucracy step before you can show us your coding skills :)
                <p>
                To share this information with us, please fill in your <a href="/candidate/profile">profile</a>.
            </div>
          </div>
        </div>

        <!-- admission test -->
        <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-controls="collapseFour" {% if not accordion_enabled_status.admission_test %} disabled {% endif %}>
                    {% if state.application_status.name == "passed" %}
                        <i class="fas fa-check-circle"></i>
                    {% elif state.application_status.name == "failed" %}
                        <i class="fas fa-times-circle"></i>
                    {% else %}
                        <i class="far fa-circle"></i>
                    {% endif %}
                    Admission Test
                  </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse {% if action_point == 'admission_test' %} show {% endif %}" aria-labelledby="collapseFour" data-parent="#accordion">
              <div class="card-body">
                {% if not is_applications_open %}
                    <p>The admission tests will open on the <b>{{ applications_open_datetime }}</b>.</p>
                    <p>Come back then to start working on the tests!</p>
                {% else %}
                    {% if state.application_status.name == "passed" %}
                        Congratulations! You've passed the admission test.
                        From the {{ applications_close_date }}, we'll let you know if you've been (randomly) selected to participate in this batch of the LDSSA.

                    {% elif state.application_status.name == "ongoing" %}
                        <p>You have until <b>{{ applications_close_datetime }}</b> to pass all the assignments.</p>

                        <p>For the SLUs, you can start them at any time, submit them for grading as many times as you want, and the due date will always be the {{ applications_close_datetime }}.
                        For the coding test, you can also submit it for grading as many times as you want, but once you start it, <b>you only have {{ coding_test_duration|floatformat }} hours to finish it</b>.</p>

                        <p>Make sure that you only start the coding test when you have enough free and uninterrupted time to spend.
                        Also, we <strong>strongly suggest that you complete SLU01 before doing the coding test</strong>.
                        This way, you'll setup up your local environment without any time constraints and get familiar with the grading system.
                        This will make you better prepared to face the coding test!</p>

                    {% elif state.application_status.name == "failed" %}
                        <p>We're sorry, but you didn't pass the admission test...</p>

                        <p>Remember that all the contents used in the Academy are available in our <a href="https://github.com/LDSSA/batch4-students">GitHub</a>, for free.</p>

                        <p>
                            If you want to give it another try next year, we hope that you have better luck.
                            Check our <a href="https://www.lisbondatascience.org/">website</a> for updates about our courses.
                        </p>
                    {% endif %}

                    <ul class="list-group list-group-flush pt-3">
                        <li class="list-group-item">
                            {% if state.slu01_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu01_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="/candidate/slu/slu01">SLU01</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.coding_test_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.coding_test_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="/candidate/coding-test">Coding Test</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.slu02_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu02_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="/candidate/slu/slu02">SLU02</a>
                        </li>
                        <li class="list-group-item">
                            {% if state.slu03_status.name == "passed" %}
                                <i class="far fa-check-circle"></i>
                            {% elif state.slu03_status.name == "failed" %}
                                <i class="far fa-times-circle"></i>
                            {% else %}
                                <i class="far fa-circle"></i>
                            {% endif %}
                            <a href="/candidate/slu/slu03">SLU03</a>
                        </li>
                    </ul>

                {% endif %}
              </div>
            </div>
        </div>

        <!-- selection results (only shows if candidate passed admission test and selection has started) -->
        {% if state.application_status.name == "passed" and state.selection_status is not None %}
            <div class="card">
                <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-controls="collapseFive" {% if not accordion_enabled_status.selection_results %} disabled {% endif %}>
                        {% if state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS or state.selection_status == selection_status_values.INTERVIEW %}
                            <i class="fas fa-check-circle"></i>
                        {% elif state.selection_status in selection_status_values.SELECTION_NEGATIVE_STATUS %}
                            <i class="fas fa-times-circle"></i>
                        {% else %}
                            <i class="far fa-circle"></i>
                        {% endif %}
                        Selection Results
                    </button>
                </h5>
                </div>
                <div id="collapseFive" class="collapse {% if action_point == 'selection_results' %} show {% endif %}" aria-labelledby="collapseFive" data-parent="#accordion">
                <div class="card-body">
                    <!-- Passed test, applications are closed, we're doing selections, this candidate wasn't selected yet -->
                    <!-- selection_status in [PASSED_TEST, DRAWN] -->
                    {% if state.selection_status in selection_status_values.SELECTION_AWAITING_STATUS %}
                        We're in the process of randomly selecting this year's students for the Lisbon Data Science Starters Academy.</p>
                        We'll send you an email soon to let you know if you were selected or not.
                        This page will also be updated with the results. Stay tuned!

                    <!-- We're doing selections, this candidate was selected -->
                    <!-- selection_status in [SELECTED, TO_BE_ACCEPTED, ACCEPTED, REJECTED (this is rejected after payment)] -->
                    {% elif state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS %}
                        You've been selected to participate in this batch of the Lisbon Data Science Starters Academy!

                    <!-- We're finished with selections, this candidate was not selected -->
                    <!-- selection_status in [NOT_SELECTED] -->
                    {% elif state.selection_status in selection_status_values.SELECTION_NEGATIVE_STATUS %}
                        Unfortunately, you have not been selected for this batch of the Lisbon Data Science Starters Academy.

                        <p>Remember that all the contents used in the Academy are available in our <a href="https://github.com/LDSSA/batch4-students">GitHub</a>, for free.</p>

                        <p>
                            If you want to give it another try next year, we hope that you have better luck.
                            Check our <a href="https://www.lisbondatascience.org/">website</a> for updates about our courses.
                        </p>

                    {% elif state.selection_status == selection_status_values.INTERVIEW %}
                        Congratulations, you've been selected to participate in this edition of the Starters Academy.
                        <p>You will receive an email in order to schedule your scholarship interview. Keep an eye on your inbox!</p>

                    {% else %}
                        ERROR!!!
                    {% endif %}
                </div>
                </div>
            </div>
        {% endif %}

        <!-- payment (only shows if candidate has passed the test and was selected) -->
        {% if state.selection_status in selection_status_values.SELECTION_POSITIVE_STATUS %}
            <div class="card">
                <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-controls="collapseSix" {% if not accordion_enabled_status.payment %} disabled {% endif %}>
                        {% if state.selection_status == selection_status_values.ACCEPTED %}
                            <i class="fas fa-check-circle"></i>
                        {% elif state.selection_status == selection_status_values.REJECTED %}
                            <i class="fas fa-times-circle"></i>
                        {% else %}
                            <i class="far fa-circle"></i>
                        {% endif %}
                        Payment
                    </button>
                </h5>
                </div>
                <div id="collapseSix" class="collapse {% if action_point == 'payment' %} show {% endif %}" aria-labelledby="collapseSix" data-parent="#accordion">
                <div class="card-body">
                    {% if state.selection_status == selection_status_values.SELECTED %}
                        We're waiting for your payment in order to finally accept your application.
                        See all the details in the <a href="/candidate/payment">payments page</a>.
                    {% elif state.selection_status == selection_status_values.TO_BE_ACCEPTED %}
                        We're analysing your payment proof. We'll get back to you ASAP!
                        You can follow your payment process in the <a href="/candidate/payment">payments page</a>.
                    {% elif state.selection_status == selection_status_values.ACCEPTED %}
                        Your payment has been accepted! Welcome to batch4 of the Lisbon Data Science Starters Academy!
                    {% elif state.selection_status == selection_status_values.REJECTED %}
                        Unfortunately, your payment has not been validated, so we've had to give your spot in the Academy to the next person in line.

                        <p>Remember that all the contents used in the Academy are available in our <a href="https://github.com/LDSSA/batch4-students">GitHub</a>, for free.</p>

                        <p>
                            If you want to give it another try next year, we hope that you have better luck.
                            Check our <a href="https://www.lisbondatascience.org/">website</a> for updates about our courses.
                        </p>
                    {% else %}
                        ERROR!!
                    {% endif %}
                </div>
                </div>
            </div>
        {% endif %}
    </div>

</div>

{% endblock %}
