{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">Profile</h2>

    <div class="row">
        <div class="col-md-6 order-md-6 mb-6">

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <fieldset>
                    <div class="form-group">
                        <label for="id_full_name">Full name:</label>
                        <input type="text" name="full_name" maxlength="100" id="id_full_name" value="{{profile.full_name}}" required>
                    </div>
                    <div class="form-group">
                        <label for="id_profession">Profession:</label>
                        <input type="text" name="profession" maxlength="50" id="id_profession"  value="{{profile.profession}}" required>
                    </div>

                    <div class="form-group">
                        <label for="id_gender">Gender:</label>
                        <select name="gender" id="id_gender" required>
                          <option value="" {% if profile.gender == "" %}selected{% endif %}>---------</option>
                          <option value="{{profile_genders.female}}" {% if profile.gender == profile_genders.female %}selected{% endif %}>{{profile_genders.female}}</option>
                          <option value="{{profile_genders.male}}" {% if profile.gender == profile_genders.male %}selected{% endif %}>{{profile_genders.male}}</option>
                          <option value="{{profile_genders.other}}" {% if profile.gender == profile_genders.other %}selected{% endif %}>{{profile_genders.other}}</option>
                        </select>
                    </div>

                    {% if not applying_for_scholarship %}
                    <div class="form-group">
                        <label for="id_ticket_type">Ticket type:</label>
                        <select name="ticket_type" id="id_ticket_type"required>
                          <option value="" {% if profile.ticket_type == "" %}selected{% endif %}>---------</option>
                          <option value="{{profile_ticket_types.student}}" {% if profile_ticket_type == profile_ticket_types.student %}selected{% endif %}>{{profile_ticket_types.student}}</option>
                          <option value="{{profile_ticket_types.regular}}" {% if profile_ticket_type == profile_ticket_types.regular %}selected{% endif %}>{{profile_ticket_types.regular}}</option>
                          <option value="{{profile_ticket_types.company}}" {% if profile_ticket_type == profile_ticket_types.company %}selected{% endif %}>{{profile_ticket_types.company}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_company">Company:</label>
                        <input type="text" name="company" maxlength="50" id="id_company" value="{{profile.company}}">
                    </div>
                    {% endif %}

                    <div class="custom-file mb-3">
                        <input type="file" class="custom-file-input" id="id_card_file" name="id_card" required>
                        <label class="custom-file-label" for="id_card_file">Choose file</label>
                    </div>
                    <script>
                        $('#id_card_file').on('change',function(e){
                            var fileName = e.target.files[0].name;
                            $(this).next('.custom-file-label').html(fileName);
                        })
                    </script>

                </fieldset>
                <button type="submit" class="btn btn-primary">{% if profile_exists %}Update profile{% else %}Create Profile{% endif %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}