{% extends './base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col col-sm-10 col-md-8 col-lg-7">

        <div class="row">
            <div class="col-md-12 text-center">
                {% if passed %}
                <div class="alert alert-success" role="alert">
                    You have passed with {{ best_score }}/{{ submission_type.max_score }}!
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text">The materials of this SLU are in a git repository!</p>
                        <a href="{{ submission_type.repo }}" class="btn btn-primary btn-lg" role="button" aria-pressed="true" target="_blank">Go to Repo</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="card">
                    <div class="card-body">
                        <form action="/candidate/slu/upload/{{ submission_type.uname }}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <input type="file" name="file" id="inputFile" class="form-control" required>
                            <button class="btn btn-lg btn-primary" type="submit">Upload Solution</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {% include "./submissions_table.html" %}

    </div>
</div>

{% endblock %}
