<div class="row">
    <div class="col-md-12 text-center">
        <br>
        <h4>Submissions</h4>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Result</th>
                <th scope="col">Submitted At</th>
                <th scope="col">Score</th>
                <th scope="col">Source</th>
                <th scope="col">Feedback</th>
            </tr>
            </thead>
            <tbody>
            {% for s in submissions %}
            <tr>
                <td>
                    {% if s.score >= submission_type.pass_score %}
                    <span class="badge badge-success">Passed</span>
                    {% else %}
                    <span class="badge badge-danger">Failed</span>
                    {% endif %}
                </td>
                <td>{{ s.created_at }}</td>
                <td>{{ s.score }}</td>
                <td> <a href="/candidate/submission/{{ submission_type.uname }}/{{ s.id }}" class="badge badge-secondary" target="_blank">Open</a></td>
                <td> <a href="/candidate/submission/feedback/{{ submission_type.uname }}/{{ s.id }}" class="badge badge-secondary">Open</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

