{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">
        Candidate Applications
    </h2>
    <div class="row">
        <div class="col-md-12 text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Application Status</th>
                    <th scope="col">Coding Test Score</th>
                    <th scope="col">SLU 01 Score</th>
                    <th scope="col">SLU 02 Score</th>
                    <th scope="col">SLU 03 Score</th>
                </tr>
                </thead>
                <tbody>
                {% for a in applications %}
                <tr>
                    <td><a href="/staff/profiles/{{ a.ref.user.id }}">{{ a.ref.user.email }}</a></td>
                    {% for status in a.status_list %}
                    <td>
                        {% if status.name == "not_started" %}
                            <span class="badge badge-info">{{status.value}}</span>
                        {% endif %}
                        {% if status.name == "ongoing" %}
                            <span class="badge badge-warning">{{status.value}}</span>
                        {% endif %}
                        {% if status.name == "passed" %}
                            <span class="badge badge-success">{{status.value}}</span>
                        {% endif %}
                        {% if status.name == "failed" %}
                            <span class="badge badge-danger">{{status.value}}</span>
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
