{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">Admin Home</h2>

    {% for f in flags %}
    <div class="row">
        {% if f.value %}
        <div class="col-md-6 order-md-6 mb-6 text-center">
            <div class="alert alert-success" role="alert">
                {{f.label}} are <strong>Open</strong>
            </div>
        </div>
        <div class="col-md-6 order-md-6 mb-6 text-center">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="key" value={{f.key}}>
                <input type="hidden" name="action" value="close">
                <button type="submit" class="btn btn-info">
                     Close {{f.label}}
                </button>
            </form>
        </div>
        {% else %}
        <div class="col-md-6 order-md-6 mb-6 text-center">
            <div class="alert alert-danger" role="alert">
               {{f.label}} are <strong>Closed</strong>
            </div>
        </div>
        <div class="col-md-6 order-md-6 mb-6 text-center">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="key" value={{f.key}}>
                <input type="hidden" name="action" value="open">
                <button type="submit" class="btn btn-info">
                    Open {{f.label}}
                </button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}
