{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">
        Selection Interviews
    </h2>
    <div class="row">
        <div class="col-md-12 text-center">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Status</th>
                    <th scope="col">Update At</th>
                </tr>
                </thead>
                <tbody>
                {% for s in selections %}
                <tr>
                    <td><a href="/staff/candidates/{{ s.user.id }}">{{ s.user.email }}</a></td>
                    <td><a href="/staff/interviews/{{ s.user.id }}">
                        <span class="badge badge-info">{{ s.status }}</span>
                    </a></td>
                    <td>{{ s.updated_at }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
