{% extends './base.html' %}

{% block content %}

<div class="container">
    <h2 class="py-5">
        Candidate <a href="/staff/profiles/{{ payment.user.id }}">{{ payment.user.email }}</a> Payment
        {% if payment.is_status_accepted %}
            <span class="badge badge-success">{{ payment.get_status_display }}</span>
        {% elif payment.is_status_rejected %}
            <span class="badge badge-danger">{{ payment.get_status_display }}</span>
        {% elif payment.is_status_pending_verification %}
            <span class="badge badge-info">{{ payment.get_status_display }}</span>
        {% else %}
            <span class="badge badge-warning">{{ payment.get_status_display }}</span>
        {% endif %}
    </h2>

    <div class="row justify-content-md-center">
        <div class="col col-sm-9 col-md-8 col-lg-5">
            {% for d in docs %}
                <h3>Doc Type: {{ d.doc_type }}</h3>
                <img src="{{ d.url }}" class="img-fluid" alt="Responsive image">
            {% endfor %}
        </div>
    </div>

    {% if can_reset %}
    <div class="row justify-content-md-center">
        <form action="/staff/payments/{{candidate_id}}/reset" enctype="multipart/form-data" method="POST" class="m-0 mt-auto">
            {% csrf_token %}
            <button type="submit" class="btn btn-info">Reset Payment</button>
        </form>
    </div>
    {% endif %}

    <div class="row justify-content-md-center">
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
                    <label for="noteMsg">Informative Note (no side effects)</label>
                    <textarea class="form-control" id="noteMsg" name="msg" rows="3" required></textarea>
                    <input type="hidden" id="hiddenNote" name="action" value="note">
                <button type="submit" class="btn btn-secondary">Add Note</button>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center">
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
                <label for="rejectMsg">Explain why the the payment proof was refused*</label>
                <textarea class="form-control" id="rejectMsg" name="msg" rows="3" required></textarea>
                <input type="hidden" id="hiddenReject" name="action" value="reject">
                <button type="submit" class="btn btn-danger">Refuse payment proof</button>
            </form>
        </div>
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
                <label for="needAddMsg">Explain what additional proof is necessary*</label>
                <textarea class="form-control" id="needAddMsg" name="msg" rows="3" required></textarea>
                <input type="hidden" id="hiddenNeedAdd" name="action" value="ask_additional">
                <button type="submit" class="btn btn-warning">Request additional proof</button>
            </form>
        </div>
        <div class="col text-center">
            <form method="post">
                {% csrf_token %}
                <label for="acceptMsg">Welcome the candidate</label>
                <textarea class="form-control" id="acceptMsg" name="msg" rows="3"></textarea>
                <input type="hidden" id="hiddenAccept" name="action" value="accept">
                <button type="submit" class="btn btn-success">Accept existing proof</button>
            </form>
        </div>
    </div>


    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">message</th>
                <th scope="col">created_at</th>
            </tr>
            </thead>
            <tbody>
                {% for log in logs %}
            <tr>
                <td> <pre>{{ log.message }}</pre> </td>
                <td> {{ log.created_at }} </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}
